@import '../../../../scss/variables';
// Header
.photo-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    width: 100%;
    color: $text-color;
    font-weight: bolder;
    &:hover {
        cursor: default;
    }
}

.photo-modal-header .photo-modal-title {
    justify-content: space-between;
    align-items: center;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 260px);
    text-overflow: ellipsis;
    &.info {
        width: calc(100% - 60px);
    }
    @media (max-width: 576px ) {
        width: calc(100% - 20px);
    }
}

.photo-modal-header .photo-modal-actions {
    width: 240px;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 576px ) {
        display: none;
    }
}

.photo-modal-header .photo-modal-actions-info {
    display: flex;
    justify-content: flex-end;
    width: 60px;
}

.photo-modal-header .photo-modal-menu {
    display: none;
    @media (max-width: 576px ) {
        display: inherit;
        width: 20px;
    }
}


// Body
.photo-modal-body {
    max-height: 75vh;
    max-width: 75vw;
}

.photo-info-field {
    width: 30%;
    margin-right: 10px;
    @media (max-width: 900px ) {
        width: 45%;
    }
    @media (max-width: 500px ) {
        width: 90%;
    }
}

.photo-modal-body .photo-container {
    position: relative;
    height: 75vh;
    width: 75vw;
    overflow: hidden;
    @media (max-width: 576px ) {
        width: 70vw;
    }
}

.photo-container .photo-loading {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    color: $text-color;
    font-size: 3em;
    animation: infinite spin 600ms;
}

.photo-container .photo-image {
    min-height: 100%;
    min-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform linear 100ms;
    border-radius: 4px;
    z-index: 2;
    &:hover {
        cursor: crosshair;
    }
}

