.photos-layout-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


// header
.photos-layout-container .photos-layout-header {
    background-color: #404040;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 1em;
    color: white;
}

.photos-layout-header .title {
    margin-left: 0.5em;
}


// body
.photos-layout-container .photos-layout-body {
    background-color: #aeaeae;
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}


// footer
.photos-layout-container .photos-layout-footer {
    padding: 0 1em;
    background-color: #404040;
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    flex-shrink: 0;
    align-items: center;
}
